$color-primary-text: #484848;
$color-light: white;

$color-gray1: #E0E0E0;
$color-gray2: $color-primary-text;
$color-gray3: #AFAFAF;
$color-gray4: #F0F2F9;
$color-gray5: #D8D8D8;
$color-soft: #C4CCE8;

$color-ok: #60F560;
$color-ko: #F56060;

$gradient-primary: linear-gradient(to right, #B993D6, #8CA6DB);