//Layout
.container {
  margin: 0 auto;
  padding: 0 ($gap);
  max-width: rem(1280);
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$gap);
}

.col {
  padding: 0 ($gap);
}

.horizontalScroll-container {
  position: relative;
  &:after,
  &:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    width: rem(15);
  }
  &:before {
    left: 0;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0%,
      white 100%
    );
  }
  &:after {
    right: 0;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      white 100%
    );
  }
}
.horizontalScroll-handler {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
